fastapi
uvicorn
scikit-learn
pandas
numpy
pydantic
pydantic-settings
joblib
nltk
python-multipart
requests
kagglehub
fastapi-profiler 
prometheus-fastapi-instrumentator
torch
torchtext
tokenizers
tqdm